<header class="navbar navbar-custom container-full-sm" id="header">
    <div class="header-top">
        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-6 col-sm-5 p-0">
                    <div class="top-link top-link-left select-dropdown d-none d-sm-block">
                        <fieldset>
                            <select name="speed" class="countr option-drop">
                                <option selected="selected">francais</option>
                            </select>
                            <select name="speed" class="currenc option-drop">
                                <option selected="selected">Fcfa</option>
                                <!-- <option value="{{devise.id}}" *ngFor="let devise of devises">{{devise.libelle}}</option> -->
                            </select>
                        </fieldset>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-sm-7 p-0">
                    <div class="top-right-link right-side d-none d-sm-block">
                        <ul>
                            <li class="info-link  content">
                                <a href="https://www.facebook.com/osiser237" target="_blank" title="Wishlist">
                                    <span></span>
                                    <i class="fa fa-facebook"></i>facebook</a>
                            </li>
                            <li class="info-link">
                                <a href="https://twitter.com/sos_cameroun" target="_blank" title="Compare">
                                    <span></span>
                                    <i class="fa fa-twitter"></i> twitter</a>
                            </li>
                            <li class="info-link">
                                <a href="https://www.instagram.com/sos_cameroun" target="_blank" title="Compare">
                                    <span></span>
                                    <i class="fa fa-instagram"></i> instagram</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container" style="height: auto !important;">
            <div class="row mlr_-20">
                <div class="col-xl-12 col-lg-12 col-sm-12 plr-20">
                    <div class="row">
                        <div class="col-4 col-md-2" style="text-align: left;">
                            <a href="/">

                                <img alt="Shopholic" src="assets/images/icon2.png" style="height:90px;">
                            </a>
                        </div>
                        <div class="col-md-8 search" style="text-align: center;">
                            <div class="main-search search-css">
                                <div class="header_search_toggle desktop-view">
                                    <form>
                                        <div class="search-box">
                                            <input class="input-text" type="text" placeholder="Que cherchez vous ?..."
                                                #params>
                                            <button class="search-btns"
                                                (click)="rechercherProduit(params.value)">Rechercher</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-8 right-call-part">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                                        <div class="header-right-part" [routerLink]="['/cart']"
                                            routerLinkActive="router-link-active">
                                            <app-card-on-menu-box></app-card-on-menu-box>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <ul style="display: inline-block;">
                                            <li class="login-icon content">
                                                <a class="content-link">
                                                    <span class="content-icon"></span>
                                                </a>
                                                <div class="content-dropdown">
                                                    <ul *ngIf="!authUserData">
                                                        <li class="login-icon"><a routerLink="login" title="Login"><i
                                                                    class="fa fa-user"></i>
                                                                Connexion</a></li>
                                                        <li class="register-icon"><a routerLink="register"
                                                                title="Register"><i class="fa fa-user-plus"></i>
                                                                Inscription</a></li>
                                                    </ul>
                                                    <ul *ngIf="authUserData">
                                                        <li (click)="openprofil('userAccount')" class="login-icon"><a
                                                                title="Login"><i class="fa fa-user"></i>
                                                                {{authUserData.userName}}</a></li>
                                                        <li (click)="logout()" class="login-icon"
                                                            style="background-color:#f2f5f5; color: red;"><a
                                                                title="Login"><i class="fa fa-password"></i>
                                                                déconnexion</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="side-toggle">
                                                <button data-target=".navbar-collapse" data-toggle="collapse"
                                                    class="navbar-toggle" type="button"><i
                                                        class="fa fa-bars"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-links">
        <div class="popup-links-inner">
            <ul>
                <!-- <li class="categories">
                    <a class="popup-with-form" href="#categories_popup"><span class="icon"></span><span
                            class="icon-text">Categories</span></a>
                </li> -->
                <li class="cart-icon">
                    <a class="popup-with-form" (click)="openprofil('cart')"><span class="icon"></span><span
                            class="icon-text">Panier</span></a>
                </li>
                <li class="account">
                    <a class="popup-with-form" (click)="openprofil('userAccount')"><span class="icon"></span><span
                            class="icon-text">Compte</span></a>
                </li>
                <!-- <li class="search">
                    <a class="popup-with-form" href="#search_popup"><span class="icon"></span><span
                            class="icon-text">Search</span></a>
                </li> -->
                <li class="scroll scrollup">
                    <a href="#"><span class="icon"></span><span class="icon-text">Monter</span></a>
                </li>
            </ul>
        </div>

    </div>
</header>