<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 center-sm mb-sm-20">
                    <div class="f-logo">
                        <a href="/" class="">
                            <img src="assets/images/icon2.png" style="height: 70px;" alt="Shopholic">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-12 center-sm mb-sm-20 align-center">
                    <p> Achetez vos produits moins chères et faites vous livrer à domicile. <br>
                        beneficiez d'un service de qualité suppérieur avec osiser
                    </p>
                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                    <p>
                        <i class="fa fa-envelope"> </i><a href="mailto:simpleoriginalservices@gmail.com"
                            style="color: white;">simpleoriginalservices<br>@gmail.com
                        </a>
                    </p>
                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                    <p>
                        <i class="fa fa-phone"> </i>
                        (+237) 655720096 / (+237) 679102156 / (+237) 660156206
                    </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-12 center-sm">
                    <div class="footer_social right-side float-none-md">
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/osiser237" target="_blank" title="Facebook"
                                    class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/sos_cameroun" target="_blank" title="Twitter"
                                    class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/sos_cameroun" target="_blank" title="Twitter"
                                    class="twitter"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-right-bg">
        <div class="container">
            <div class="row  align-center">
                <div class="col-12">
                    <div class="copy-right ">© 2020 All Rights Reserved. Design By <a
                            style="text-decoration: underline;" target="_blank" href="http://www.innov237.com">
                            innov237</a></div>
                </div>
            </div>
        </div>
    </div>
</div>