<div class="popup-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5 col-md-5 mb-xs-30">
                        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                            <a href="#"><img src="assets/images/1.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/2.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/3.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/4.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/5.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/6.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/4.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/5.jpg" alt="Shopholic"></a>
                            <a href="#"><img src="assets/images/6.jpg" alt="Shopholic"></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-detail-main">
                                    <div class="product-item-details">
                                        <h1 class="product-item-name">Cross Colours Camo Print Tank half mengo</h1>
                                        <div class="rating-summary-block">
                                            <div title="53%" class="rating-result"> <span style="width:53%"></span>
                                            </div>
                                        </div>
                                        <div class="price-box"> <span class="price">$80.00</span>
                                            <del class="price old-price">$120.00</del>
                                        </div>
                                        <div class="product-info-stock-sku">
                                            <div>
                                                <label>Availability: </label>
                                                <span class="info-deta">In stock</span>
                                            </div>
                                            <div>
                                                <label>SKU: </label>
                                                <span class="info-deta">20MVC-18</span>
                                            </div>
                                        </div>
                                        <hr class="mb-20">
                                        <p>Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et
                                            lorem nunc.
                                            Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                                        <ul class="product-list">
                                            <li><i class="fa fa-check"></i> Satisfaction 100% Guaranteed</li>
                                            <li><i class="fa fa-check"></i> Free shipping on orders over $99</li>
                                            <li><i class="fa fa-check"></i> 14 day easy Return</li>
                                        </ul>
                                        <hr class="mb-20">
                                        <div class="mb-20">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-12">
                                                            <span>Select Size :</span>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12">
                                                            <div class="select-size" id="select-size">
                                                                <ul class="listing">
                                                                    <li>
                                                                        <span>S</span>
                                                                    </li>
                                                                    <li class="active">
                                                                        <span>M</span>
                                                                    </li>
                                                                    <li>
                                                                        <span>L</span>
                                                                    </li>
                                                                    <li>
                                                                        <span>XL</span>
                                                                    </li>
                                                                    <li>
                                                                        <span>XXl</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-12">
                                                            <span>Select Color :</span>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12">
                                                            <div id="select-colors" class="select-color">
                                                                <ul class="listing">
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Orange
                                                                        </div>
                                                                        <span class="color-option orange"></span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Black
                                                                        </div>
                                                                        <span class="color-option black"></span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Green
                                                                        </div>
                                                                        <span class="color-option green"></span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Pink
                                                                        </div>
                                                                        <span class="color-option pink"></span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Blue
                                                                        </div>
                                                                        <span class="color-option blue"></span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="color-tooltip">
                                                                            <span class="color-arrow"></span>Red
                                                                        </div>
                                                                        <span class="color-option red"></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-12">
                                                            <span>Qty:</span>
                                                        </div>
                                                        <div class="col-lg-9 col-md-12">
                                                            <div class="custom-qty">
                                                                <button class="reduced items" type="button"> <i
                                                                        class="fa fa-minus"></i> </button>
                                                                <input type="text" class="input-text qty" title="Qty"
                                                                    value="1" maxlength="8" id="qty1" name="qty">
                                                                <button class="increase items" type="button"> <i
                                                                        class="fa fa-plus"></i> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mb-20">
                                        <div class="mb-20">
                                            <div class="bottom-detail cart-button responsive-btn">
                                                <ul>
                                                    <li class="pro-cart-icon">
                                                        <a href="cart.html" title="Add to Cart"
                                                            class="btn btn-color"><span></span> Add to
                                                            Cart</a>
                                                    </li>
                                                    <li class="pro-wishlist-icon"><a href="wishlist.html"
                                                            title="Wishlist"><span></span>
                                                            Wishlist</a></li>
                                                    <li class="pro-compare-icon"><a href="compare.html"
                                                            title="Compare"><span></span>
                                                            Compare</a></li>
                                                    <li class="pro-email-icon"><a href="#"
                                                            title="Email to Friends"><span></span> Email to
                                                            Friends</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="share-link">
                                            <label>Share This : </label>
                                            <div class="social-link">
                                                <ul class="social-icon">
                                                    <li><a class="facebook" title="Facebook" href="#"><i
                                                                class="fa fa-facebook"> </i></a>
                                                    </li>
                                                    <li><a class="twitter" title="Twitter" href="#"><i
                                                                class="fa fa-twitter"> </i></a></li>
                                                    <li><a class="linkedin" title="Linkedin" href="#"><i
                                                                class="fa fa-linkedin"> </i></a>
                                                    </li>
                                                    <li><a class="rss" title="RSS" href="#"><i class="fa fa-rss">
                                                            </i></a></li>
                                                    <li><a class="pinterest" title="Pinterest" href="#"><i
                                                                class="fa fa-pinterest"> </i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>