<div class="container-video">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="fullvideo-container">
                <iframe class="frame" [src]="setVideo(currentVideoData.link)" frameborder="0" width="100%" height="100%"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="videoTitle" style="margin-top: 15px;">
                <h1 style="font-size: 25px; ">{{currentVideoData.titre}}</h1>
                <p style="margin-top: -10px;">{{currentVideoData.description}}</p>
            </div>
            <div class="comment">
                <div class="container-fluid mb-5">
                    <div class="row">
                        <div class="col-md-1 p-0">
                            <img src="assets/images/comment-user.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-10">
                            <h4 style="margin:0px">administrateur</h4>
                            <p>video de tres bonne qualité </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="4" [(ngModel)]="message"
                        name="message"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-sm" >envoyer</button>
                <!-- <button type="button" class="btn btn-primary btn-sm" *ngIf="isLoad">envoi...</button> -->
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="rigth-sideBar" style="margin-top: 50px; height: 100vh; overflow: scroll; cursor: pointer;">
                <div class="video-list" *ngFor="let video of listeVideoData" (click)="activeVideo(video)">
                    <div class="video-list-container">
                        <div class="video-list-box">
                            <iframe class="frame" [src]="setVideo(video.link)" frameborder="0" width="100%"
                                height="100px"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="video-list-description">
                            <h1>{{video.titre}}</h1>
                            <p style="margin-top: -20px; 
                            width: 200px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">{{video.description}} </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>