.fullvideo-container {
  width: 100%;
  height: 60vh;
  padding: 10px;
  border: 5px solid white;
  background-color: white;
  margin-top: 30px;
}

.container-video {
  margin-bottom: 10px;
  padding: 20px;
}

.video-list-box,
.video-list-description {
  float: left;
}

.video-list-description {
  width: 250px;
  margin-left: 5px;
  h1 {
    font-size: 14px;
  }
}

