<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Aperçu de la commande</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Accueil</a>/</li>
                    <li><a href="index.html">panier</a>/</li>
                    <li><span>vérification</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->

<!-- CONTAIN START -->
<section class="checkout-section ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout-step mb-40">
                    <ul>
                        <li>
                            <a href="checkout.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">1</div>
                                </div>
                                <span>livraison</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="order-overview.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">2</div>
                                </div>
                                <span>Aperçu de la commande</span>
                            </a>
                        </li>
                        <li>
                            <a href="payment.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">3</div>
                                </div>
                                <span>Paiement</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-complete.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">4</div>
                                </div>
                                <span>Commande terminée</span>
                            </a>
                        </li>
                        <li>
                            <div class="step">
                                <div class="line"></div>
                            </div>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-part align-center">
                                <h2 class="heading">Aperçu de la commande</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-sm-30">
                            <div class="cart-item-table commun-table mb-30">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Produit</th>
                                                <th>Les détails du produit</th>
                                                <th>Total partiel</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let produit of panierData">
                                                <td><a href="product-page.html">
                                                        <div class="product-image"><img alt="Honour"
                                                                src="{{api_url}}storage/{{toArray(produit.img)[0]}}">
                                                        </div>
                                                    </a></td>
                                                <td>
                                                    <div class="product-title"> <a
                                                            href="product-page.html">{{produit.libelle}}</a>
                                                        <div class="product-info-stock-sku m-0">
                                                            <div>
                                                                <label>Price: </label>
                                                                <div class="price-box"> <span
                                                                        class="info-deta price">{{(produit.prix - (produit.prix*produit.reduction)/100) }}
                                                                        {{produit.symbole}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-info-stock-sku m-0">
                                                            <div>
                                                                <label>Quantity: </label>
                                                                <span class="info-deta">{{produit.quantite}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="100" class="total-price price-box"> <span
                                                            class="price">{{produit.quantite*(produit.prix - (produit.prix*produit.reduction)/100)}}</span>
                                                    </div>
                                                </td>
                                                <td><i class="fa fa-trash cart-remove-item"
                                                        (click)="removeProduit(produit)" data-id="100"
                                                        title="Remove Item From Cart"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="cart-total-table commun-table mb-30">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Total du panier</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nombre de ligne</td>
                                                <td>
                                                    <div class="price-box">
                                                        <span class="price">{{panierData.length}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>livraison</td>
                                                <td>
                                                    <div class="price-box">
                                                        <span class="price">0 FCFA</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>Montant total</b></td>
                                                <td>
                                                    <div class="price-box">
                                                        <span class="price"><b>{{montantPanier}}</b></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="right-side float-none-xs"> <a (click)="Commender()"
                                    class="btn btn-color">Commander</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cart-total-table address-box commun-table mb-30">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Adresse de livraison</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li class="inner-heading"> <b>{{currentuserData?.nom}}</b>
                                                        </li>
                                                        <li>
                                                            <p>{{currentuserData?.telephone}}/{{currentuserData?.telephone2}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>{{currentuserData?.ville}}-{{currentuserData?.pays}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>{{currentuserData?.rue}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTAINER END -->

<div class="alert-container"*ngIf="showAlert">
    <h1 style="font-weight: bold; padding: 10px;">Commande envoyée</h1>
    <h2 style="font-weight: bold;">Payez à la livraison</h2>
    <p>Votre commande à été envoyée avec success nous vous contacterons avant la fin de journée</p>
    <p>Pour plus d'information contactez nous au <br><br>
        <strong>
            (+237) 690546937</strong>
    </p>
    <p class="footer-btn" (click)="closeAlert()">D'accord</p>
    <p class="footer-btn btn-success" (click)="closeAlertAndPrintOrder()">Imprimer  ma commande</p>
</div>