.mycontainer {
  padding: 0px 5% 0px 5%;
}

.rigth-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #f2f5f5;
  padding: 5px;
}

.rigth-card h1 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.circular-img {
  background-color: #c2c5c5;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  padding: 5px;
}
