.product-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  background-position: center;
}

.product-item-details {
  text-align: center;
  padding: 5px;
}
.product-item-name {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;

  .card {
    display: inline-block;
    width: 300px;
    padding: 10px;
  }
}

.promo-card {
  background-color: #F8B718;
  color: #fff;
}

.promo-card {
  h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 30px;
  }
  h3 {
    color: #f2f5f5;
  }
}

.view-all-btn{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
