<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Payment</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a>/</li>
                    <li><a href="cart.html">Cart</a>/</li>
                    <li><span>Checkout</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->

<!-- CONTAIN START -->
<section class="checkout-section ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout-step mb-40">
                    <ul>
                        <li>
                            <a href="checkout.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">1</div>
                                </div>
                                <span>livraison</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-overview.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">2</div>
                                </div>
                                <span>Aperçu de la commande</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="payment.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">3</div>
                                </div>
                                <span>Paiement</span>
                            </a>
                        </li>
                        <li>
                            <a href="order-complete.html">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">4</div>
                                </div>
                                <span>Commande terminée</span>
                            </a>
                        </li>
                        <li>
                            <div class="step">
                                <div class="line"></div>
                            </div>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-part align-center">
                                <h2 class="heading">Méthode de paiement</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-8 ">
                            <!-- <div class="payment-option-box mb-30">
                                    <div class="payment-option-box-inner gray-bg">
                                        <div class="payment-top-box">
                                            <div class="radio-box left-side"> <span>
                                                    <input type="radio" id="paypal" value="paypal" name="payment_type">
                                                </span>
                                                <label for="paypal">PayPal</label>
                                            </div>
                                            <div class="paypal-box">
                                                <div class="paypal-top"> <img src="assets/images/paypal-img.png"
                                                        alt="Shopholic">
                                                </div>
                                                <div class="paypal-img"> <img src="assets/images/payment-method.png"
                                                        alt="Shopholic"> </div>
                                            </div>
                                        </div>
                                        <p>Si vous n'avez pas de compte CCAvenue, cela n'a pas d'importance. Vous pouvez
                                            également payer via CCAvenue avec votre carte de crédit ou
                                            votre carte de débit bancaire</p>
                                        <p>Le paiement peut être effectué dans n'importe quelle devise.</p>
                                    </div>
                                </div> -->
                            <div class="payment-option-box mb-30">
                                <div class="payment-option-box-inner gray-bg">
                                    <div class="payment-top-box">
                                        <div class="radio-box left-side"> <span>
                                                <input type="radio" id="cash" value="cash" name="payment_type">
                                            </span>
                                            <label for="cash">Voulez-vous payer en espèces à la livraison?</label>
                                        </div>
                                    </div>
                                    <p>payez votre commande a la livraison</p>
                                </div>
                            </div>
                            <div class="right-side float-none-xs"> <a class="btn btn-color"
                                    (click)="passerLaCommande()">Passer la commande<span><i
                                            class="fa fa-angle-right"></i></span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTAINER END -->