<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">{{currentCategorie.libelle}}</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Acceuil</a>/</li>
                    <li><span>liste produits</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->

<section class="pt-100">
    <div class="container">
        <div class="row mlr_-20">
            <div class="col-lg-12 col-md-12 plr-20">
                <div class="product-listing grid-type">
                    <div class="inner-listing">
                        <div class="row mlr_-20">
                            <div class="col-md-3 col-6 plr-20 mb-xs-20" *ngFor="let produit of produitData"
                                style="margin-bottom: 10px;">
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-image" (click)="openProductDetail(produit)">
                                            <div class="main-label new-label"><span>-{{produit.reduction}}%</span></div>
                                            <a>
                                                <img src="{{api_url}}storage/{{toArray(produit.image)[0]}}"
                                                    alt="Shopholic">
                                            </a>
                                        </div>
                                        <div class="product-item-details">
                                            <div class="product-item-name">
                                                <a>{{produit.libelle}}</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="price">
                                                    {{produit.prix_vente - (produit.prix_vente*produit.reduction)/100 }}
                                                    FCFA</span>
                                                <del class="price old-price">{{produit.prix_vente}} FCFA</del>
                                            </div>
                                            <div class="rating-summary-block">
                                                <div class="rating-result" title="53%">
                                                    <span style='width:50%'></span>
                                                </div>
                                            </div>
                                            <div class="product-des" style="margin-top: -50px;">
                                                <p>{{produit.description}}</p>
                                            </div>
                                            <div class="product-detail-inner">
                                                <div class="detail-inner-left align-center">
                                                    <ul>
                                                        <li style="cursor: pointer;">
                                                            <a href="https://wa.me/+237655720096?text= salut! je suis intéressé par : {{produit.libelle}}"
                                                                target="_blank">
                                                                <img src="assets/images/whatsapp.png"
                                                                    style="height: 40px;" alt="" srcset=""></a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Clothes block End -->